In [1]:
import pandas as pd

In [65]:
df = pd.read_csv("incidentes_viales.csv", sep = ";",error_bad_lines=False, low_memory=False)

In [66]:
# Se eliminan las siguientes variables. Expediente = Es un registro aleatorio, NRo _ Radicao = Numero aleatorio, Direccion Encasillada =
# Se repite, FECHA_ACCIDENTES = Se repite
df.drop(['EXPEDIENTE','NRO_RADICADO','DIRECCION ENCASILLADA', 'FECHA_ACCIDENTES','LOCATION'],axis = 1 , inplace = True)
df.columns

Index(['AÑO', 'CBML', 'CLASE_ACCIDENTE', 'DIRECCION', 'DISEÑO',
       'FECHA_ACCIDENTE', 'MES', 'NUMCOMUNA', 'BARRIO', 'COMUNA', 'X', 'Y'],
      dtype='object')

In [67]:
df.shape

(270765, 12)

In [70]:
df.dropna(inplace = True)
df.shape

(250690, 12)

In [71]:
df['Gravedad'] = df['MES']
df.pop('MES')

0         Con heridos
1         Con heridos
2         Con heridos
3         Con heridos
4         Con heridos
             ...
270760    Con heridos
270761    Con heridos
270762     Solo daños
270763    Con heridos
270764    Con heridos
Name: MES, Length: 250690, dtype: object

In [72]:
df.head()

,AÑO,CBML,CLASE_ACCIDENTE,DIRECCION,DISEÑO,FECHA_ACCIDENTE,NUMCOMUNA,BARRIO,COMUNA,X,Y,Gravedad
0,2014,1105,Otro,CR 66 B CL 34,Tramo de via,05/08/2014 07:15:00,1451888,11,Los Conquistadores,"[-75.589313202, 6.2397866157]",832677.92,Con heridos
1,2014,0509,Choque,CR 71 CL 103 D,Interseccion,05/08/2014 14:30:00,1451891,05,Girardot,"[-75.5708179064, 6.3000411778]",834744.36,Con heridos
2,2014,1421,Choque,CR 49 CL 7,Tramo de via,05/08/2014 15:50:00,1451935,14,Patio Bonito,"[-75.5765743781, 6.20874755798]",834078.39,Con heridos
3,2014,0801,Otro,CR 39 A CL 66 C,Tramo de via,05/08/2014 13:00:00,1451956,08,Villa Hermosa,"[-75.5512546684, 6.25905761463]",836897.02,Con heridos
4,2014,1017,Choque,CL 58 CR 37,Tramo de via,05/08/2014 19:30:00,1452022,10,Los Ángeles,"[-75.5561495119, 6.24996631944]",836352.35,Con heridos

In [77]:
df.groupby('DISEÑO')['DISEÑO'].count()

DISEÑO
Ciclo Ruta          966
Glorieta           6373
Interseccion      42400
Lote o Predio     24310
Paso Elevado       1314
Paso Inferior       649
Paso a Nivel        114
Pont\xF3n             6
Pontón               23
Puente              951
Tramo de via     173473
Tunel                58
Via peatonal         53
Name: DISEÑO, dtype: int64

In [85]:
df.groupby('BARRIO')['BARRIO'].count()

BARRIO
0             11
01          3301
02          3115
03          7007
04         13207
05         23104
06          6367
07         15328
08          6015
09          8990
1            399
10         51910
11         26930
12          8020
13          4293
14         21662
15         18419
16         16733
2            308
3            727
4           1083
5           1692
50            16
6            496
60          2602
7           1130
70           565
8            675
80          4001
9            863
90           598
AU             9
In            95
SN             3
Sin Inf     1016
Name: BARRIO, dtype: int64