In [30]:
import pandas as pd

In [31]:
df = pd.read_csv("incidentes_viales.csv", sep = ";", error_bad_lines = False, low_memory = False)

In [32]:
df.head()

,AÑO,CBML,CLASE_ACCIDENTE,DIRECCION,DIRECCION ENCASILLADA,DISEÑO,EXPEDIENTE,FECHA_ACCIDENTE,FECHA_ACCIDENTES,MES,NRO_RADICADO,NUMCOMUNA,BARRIO,COMUNA,LOCATION,X,Y
0,2014,1105,Otro,CR 66 B CL 34,CR 066 B 034 000 00000,Tramo de via,A000095088,05/08/2014 07:15:00,2014-08-05T12:15:00.000Z,Con heridos,8,1451888,11,Los Conquistadores,Laureles Estadio,"[-75.589313202, 6.2397866157]",832677.92
1,2014,0509,Choque,CR 71 CL 103 D,CR 071 103 D 000 00000,Interseccion,A000095143,05/08/2014 14:30:00,2014-08-05T19:30:00.000Z,Con heridos,8,1451891,05,Girardot,Castilla,"[-75.5708179064, 6.3000411778]",834744.36
2,2014,1421,Choque,CR 49 CL 7,CR 049 007 000 00000,Tramo de via,A000095226,05/08/2014 15:50:00,2014-08-05T20:50:00.000Z,Con heridos,8,1451935,14,Patio Bonito,El Poblado,"[-75.5765743781, 6.20874755798]",834078.39
3,2014,0801,Otro,CR 39 A CL 66 C,CR 039 A 066 C 000 00000,Tramo de via,A000095227,05/08/2014 13:00:00,2014-08-05T18:00:00.000Z,Con heridos,8,1451956,08,Villa Hermosa,Villa Hermosa,"[-75.5512546684, 6.25905761463]",836897.02
4,2014,1017,Choque,CL 58 CR 37,CL 058 037 000 00000,Tramo de via,A000094940,05/08/2014 19:30:00,2014-08-06T00:30:00.000Z,Con heridos,8,1452022,10,Los Ángeles,La Candelaria,"[-75.5561495119, 6.24996631944]",836352.35

In [33]:
df.rename({'MES': 'GRAVEDAD','NRO_RADICADO':'MES','NUMCOMUNA':'NRO_RADICADO','BARRIO':'NUMCOMUNA','COMUNA':'BARRIO','LOCATION':'COMUNA','X': 'LOCATION','Y':'X'}, axis = 1, inplace = True)# Se reorganizan los nombres de la columna pues hay un
# problema en la descarga de los datos.
# OJO SOLO CORRER UNA VEZ

In [34]:
df.head()

,AÑO,CBML,CLASE_ACCIDENTE,DIRECCION,DIRECCION ENCASILLADA,DISEÑO,EXPEDIENTE,FECHA_ACCIDENTE,FECHA_ACCIDENTES,GRAVEDAD,MES,NRO_RADICADO,NUMCOMUNA,BARRIO,COMUNA,LOCATION,X
0,2014,1105,Otro,CR 66 B CL 34,CR 066 B 034 000 00000,Tramo de via,A000095088,05/08/2014 07:15:00,2014-08-05T12:15:00.000Z,Con heridos,8,1451888,11,Los Conquistadores,Laureles Estadio,"[-75.589313202, 6.2397866157]",832677.92
1,2014,0509,Choque,CR 71 CL 103 D,CR 071 103 D 000 00000,Interseccion,A000095143,05/08/2014 14:30:00,2014-08-05T19:30:00.000Z,Con heridos,8,1451891,05,Girardot,Castilla,"[-75.5708179064, 6.3000411778]",834744.36
2,2014,1421,Choque,CR 49 CL 7,CR 049 007 000 00000,Tramo de via,A000095226,05/08/2014 15:50:00,2014-08-05T20:50:00.000Z,Con heridos,8,1451935,14,Patio Bonito,El Poblado,"[-75.5765743781, 6.20874755798]",834078.39
3,2014,0801,Otro,CR 39 A CL 66 C,CR 039 A 066 C 000 00000,Tramo de via,A000095227,05/08/2014 13:00:00,2014-08-05T18:00:00.000Z,Con heridos,8,1451956,08,Villa Hermosa,Villa Hermosa,"[-75.5512546684, 6.25905761463]",836897.02
4,2014,1017,Choque,CL 58 CR 37,CL 058 037 000 00000,Tramo de via,A000094940,05/08/2014 19:30:00,2014-08-06T00:30:00.000Z,Con heridos,8,1452022,10,Los Ángeles,La Candelaria,"[-75.5561495119, 6.24996631944]",836352.35

In [35]:
df.isna().sum()

AÑO                          0
CBML                     18156
CLASE_ACCIDENTE              6
DIRECCION                    0
DIRECCION ENCASILLADA      391
DISEÑO                    1148
EXPEDIENTE                 110
FECHA_ACCIDENTE              0
FECHA_ACCIDENTES             0
GRAVEDAD                     0
MES                          0
NRO_RADICADO                 5
NUMCOMUNA                    0
BARRIO                   19006
COMUNA                   12798
LOCATION                     0
X                            0
dtype: int64

In [36]:
# Se eliminan las siguientes variables. Expediente = Es un registro aleatorio sin análiss, NRo _ Radicao = Numero aleatorio, Direccion Encasillada =
# Se repite, FECHA_ACCIDENTES = Se repite, COMUNA = se tumba comuna pues tiene mucho nan y existe otra columna con la misma información
df.drop(['EXPEDIENTE','NRO_RADICADO','DIRECCION ENCASILLADA', 'FECHA_ACCIDENTES','LOCATION','COMUNA'],axis = 1 , inplace = True)

In [37]:
df.isna().sum()

AÑO                    0
CBML               18156
CLASE_ACCIDENTE        6
DIRECCION              0
DISEÑO              1148
FECHA_ACCIDENTE        0
GRAVEDAD               0
MES                    0
NUMCOMUNA              0
BARRIO             19006
X                      0
dtype: int64

Debido a que existe un problema en la descarga de la base de datos no existe datos de la variable 'y' entonces es necesario eliminar la componente 'x' pues en ausencia de 'y', 'x' pierde sentido

In [38]:
df.drop('X', axis = 1, inplace =  True)

In [39]:
df.shape

(270765, 10)

In [40]:
df.isna().sum()

AÑO                    0
CBML               18156
CLASE_ACCIDENTE        6
DIRECCION              0
DISEÑO              1148
FECHA_ACCIDENTE        0
GRAVEDAD               0
MES                    0
NUMCOMUNA              0
BARRIO             19006
dtype: int64

Con las siguientes agrupaciones se puede inferir si es que tanta información se pierde. Podemos hacer como una distribución de los nan y los que no son nan

In [55]:
df.groupby(['AÑO','MES'])['BARRIO'].agg(lambda x : x.isnull().sum())

AÑO   MES
2014  7      230
      8      307
      9      290
      10     266
      11     275
            ...
2020  4        1
      5        3
      6       89
      7        0
      8        0
Name: BARRIO, Length: 86, dtype: int64

In [57]:
df.groupby(['AÑO','MES'])['BARRIO'].agg(lambda x : x.notnull().sum())

AÑO   MES
2014  7      3190
      8      3633
      9      3587
      10     3470
      11     3337
             ...
2020  4       897
      5      1738
      6      2102
      7      2152
      8      2270
Name: BARRIO, Length: 86, dtype: int64