In [58]:
import pandas as pd
import numpy as np
from pycaret.regression import *
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error as mse
import joblib

In [59]:
DfTrain = pd.read_csv('Atropello_train.csv', encoding = 'utf-8')
DfTest = pd.read_csv('Atropello_test.csv', encoding = 'utf-8')
Dfevalua = pd.read_csv('Atropello_evalua.csv', encoding = 'utf-8')

In [60]:
DfTest.head()

  FECHA_ACCIDENTE  Total
0      2018-01-01      8
1      2018-01-02      6
2      2018-01-03     14
3      2018-01-04      8
4      2018-01-05     10

In [61]:
df_festivos = pd.read_csv('festivosm.csv', encoding = 'utf-8', sep =';')

In [62]:
df_festivos['Fecha'] = pd.to_datetime(df_festivos['Fecha'], format="%m/%d/%Y")

In [63]:
DfTrain['FECHA_ACCIDENTE'] = pd.to_datetime(DfTrain['FECHA_ACCIDENTE'], format="%Y/%m/%d")
DfTest['FECHA_ACCIDENTE'] = pd.to_datetime(DfTest['FECHA_ACCIDENTE'], format="%Y/%m/%d")
Dfevalua['FECHA_ACCIDENTE'] = pd.to_datetime(Dfevalua['FECHA_ACCIDENTE'], format="%Y/%m/%d")

In [64]:
DfTrain['festivo'] = DfTrain['FECHA_ACCIDENTE'].apply(lambda x: 1 if x in df_festivos['Fecha'].unique() else 0)
DfTest['festivo'] = DfTest['FECHA_ACCIDENTE'].apply(lambda x: 1 if x in df_festivos['Fecha'].unique() else 0)
Dfevalua['festivo'] = Dfevalua['FECHA_ACCIDENTE'].apply(lambda x: 1 if x in df_festivos['Fecha'].unique() else 0)

In [65]:
DfTrain['Year'] = DfTrain['FECHA_ACCIDENTE'].dt.year
DfTrain['Month'] = DfTrain['FECHA_ACCIDENTE'].dt.month
DfTrain['DayMo'] = DfTrain['FECHA_ACCIDENTE'].dt.day
DfTrain['Dayw'] = DfTrain['FECHA_ACCIDENTE'].apply(lambda x: x.strftime('%A'))

In [66]:
DfTest['Year'] = DfTest['FECHA_ACCIDENTE'].dt.year
DfTest['Month'] = DfTest['FECHA_ACCIDENTE'].dt.month
DfTest['DayMo'] = DfTest['FECHA_ACCIDENTE'].dt.day
DfTest['Dayw'] = DfTest['FECHA_ACCIDENTE'].apply(lambda x: x.strftime('%A'))

In [67]:
Dfevalua['Year'] = Dfevalua['FECHA_ACCIDENTE'].dt.year
Dfevalua['Month'] = Dfevalua['FECHA_ACCIDENTE'].dt.month
Dfevalua['DayMo'] = Dfevalua['FECHA_ACCIDENTE'].dt.day
Dfevalua['Dayw'] = Dfevalua['FECHA_ACCIDENTE'].apply(lambda x: x.strftime('%A'))

In [68]:
DfTest.head()

  FECHA_ACCIDENTE  Total  festivo  Year  Month  DayMo       Dayw
0      2018-01-01      8        1  2018      1      1     Monday
1      2018-01-02      6        0  2018      1      2    Tuesday
2      2018-01-03     14        0  2018      1      3  Wednesday
3      2018-01-04      8        0  2018      1      4   Thursday
4      2018-01-05     10        0  2018      1      5     Friday

In [69]:
def quincena(f):
    z = []
    for i,j in zip(f['DayMo'],f['Dayw']):
        if (i in [15,30,31] and j in ['Monday','Tuesday', 'Thursday', 'Friday','Wednesday']):
            z.append(1)
        else:
            z.append(0)
    return z

In [70]:
DfTrain['Quincena'] = quincena(DfTrain)
DfTest['Quincena'] = quincena(DfTest)
Dfevalua['Quincena'] = quincena(Dfevalua)

In [71]:
variab = ['DayMo','Month','Year','festivo','Dayw','Total','Quincena']

In [72]:
DfTrain = DfTrain[variab]
DfTest = DfTest[variab]
Dfevalua = Dfevalua[variab]

In [73]:
Dfevalua.head()

   DayMo  Month  Year  festivo       Dayw  Total  Quincena
0      1      1  2020        1  Wednesday     12         0
1      2      1  2020        0   Thursday      7         0
2      3      1  2020        0     Friday     12         0
3      4      1  2020        0   Saturday      5         0
4      5      1  2020        0     Sunday     10         0

## One hot encoding y Modelo

In [74]:
DfTrain = pd.get_dummies(DfTrain)
DfTest = pd.get_dummies(DfTest)
Dfevalua = pd.get_dummies(Dfevalua)

In [75]:
num = list(DfTrain.columns.values)
num.remove('Total')

In [76]:
exp_reg101 = setup(data = DfTrain, target = 'Total',
                   numeric_features = num , normalize = True, session_id = 8301)

In [77]:
compare_models()

BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, alpha_init=None,
              compute_score=False, copy_X=True, fit_intercept=True,
              lambda_1=1e-06, lambda_2=1e-06, lambda_init=None, n_iter=300,
              normalize=False, tol=0.001, verbose=False)

In [78]:
rfj = create_model('rf')

In [79]:
tuned_rfj = tune_model(rfj)

In [80]:
tuned_rfj

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=6, max_features='log2', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.005,
                      min_impurity_split=None, min_samples_leaf=2,
                      min_samples_split=10, min_weight_fraction_leaf=0.0,
                      n_estimators=190, n_jobs=-1, oob_score=False,
                      random_state=8301, verbose=0, warm_start=False)

In [81]:
predict_model(tuned_rfj)

,DayMo,Month,Year,festivo,Quincena,Dayw_Friday,Dayw_Monday,Dayw_Saturday,Dayw_Sunday,Dayw_Thursday,Dayw_Tuesday,Dayw_Wednesday,Total,Label
0,-0.662421,0.298207,0.282680,-0.219496,-0.251337,-0.390455,-0.403699,-0.422298,-0.416754,-0.401819,-0.388546,2.307865,15.0,11.417809
1,1.627810,0.005255,-0.679728,-0.219496,3.978717,-0.390455,-0.403699,-0.422298,-0.416754,2.488684,-0.388546,-0.433301,10.0,11.399860
2,-1.005956,-0.873602,0.282680,-0.219496,-0.251337,-0.390455,-0.403699,-0.422298,-0.416754,2.488684,-0.388546,-0.433301,10.0,11.388690
3,0.940740,1.470017,-0.679728,-0.219496,-0.251337,-0.390455,-0.403699,-0.422298,-0.416754,2.488684,-0.388546,-0.433301,18.0,11.381095
4,1.055252,-1.459507,-0.679728,-0.219496,-0.251337,-0.390455,-0.403699,-0.422298,-0.416754,-0.401819,-0.388546,2.307865,20.0,11.625775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,-0.662421,1.470017,1.245088,-0.219496,-0.251337,-0.390455,-0.403699,-0.422298,2.399495,-0.401819,-0.388546,-0.433301,3.0,10.224995
379,-0.891444,1.470017,-0.679728,4.555886,-0.251337,-0.390455,-0.403699,-0.422298,-0.416754,-0.401819,2.573700,-0.433301,14.0,9.442640
380,-0.891444,1.177064,0.282680,-0.219496,-0.251337,-0.390455,-0.403699,-0.422298,-0.416754,-0.401819,2.573700,-0.433301,10.0,11.277705
381,-0.662421,-1.459507,1.245088,-0.219496,-0.251337,2.561117,-0.403699,-0.422298,-0.416754,-0.401819,-0.388546,-0.433301,15.0,10.526226
382,0.024648,0.884112,1.245088,4.555886,-0.251337,-0.390455,2.477095,-0.422298,-0.416754,-0.401819,-0.388546,-0.433301,9.0,8.696846

In [82]:
labeltr = DfTrain['Total']
labeltest = DfTest['Total']
DfTrain = DfTrain.drop('Total', axis = 1)
DfTest = DfTest.drop('Total', axis = 1)

In [83]:
forest = tuned_rfj.fit(DfTrain,labeltr)

## Rmse entrenamiento

In [84]:
ypredTrain = forest.predict(DfTrain)

In [85]:
(mse(ypredTrain,labeltr))**(1/2)

3.4613361333844774

## Rmse Test

In [86]:
ypredTest = forest.predict(DfTest)

In [87]:
(mse(ypredTest,labeltest))**(1/2)

3.4445540593756245

## Rmse Evaluación

In [88]:
labelevalua = Dfevalua['Total']

In [89]:
Dfevalua = Dfevalua.drop(['Total'], axis = 1)

In [90]:
yevalua = forest.predict(Dfevalua)

In [91]:
(mse(yevalua,labelevalua))**(1/2)

5.265937402314841

## Se guarda modelo

In [92]:
joblib.dump(forest, 'modelo_Atropello_entrenado.pkl') # Se guarda el modelo.

['modelo_Atropello_entrenado.pkl']