In [38]:
import pandas as pd
import numpy as np
from pycaret.regression import *
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error as mse
import joblib

In [39]:
DfTrain = pd.read_csv('Caida_train.csv', encoding = 'utf-8')
DfTest = pd.read_csv('Caida_test.csv', encoding = 'utf-8')
Dfevalua = pd.read_csv('Caida_evalua.csv', encoding = 'utf-8')

In [40]:
DfTest.head()

  FECHA_ACCIDENTE  Total
0      2018-01-01      7
1      2018-01-02     11
2      2018-01-03      4
3      2018-01-04     12
4      2018-01-05     11

In [41]:
df_festivos = pd.read_csv('festivosm.csv', encoding = 'utf-8', sep =';')

In [42]:
df_festivos['Fecha'] = pd.to_datetime(df_festivos['Fecha'], format="%m/%d/%Y")

In [43]:
DfTrain['FECHA_ACCIDENTE'] = pd.to_datetime(DfTrain['FECHA_ACCIDENTE'], format="%Y/%m/%d")
DfTest['FECHA_ACCIDENTE'] = pd.to_datetime(DfTest['FECHA_ACCIDENTE'], format="%Y/%m/%d")
Dfevalua['FECHA_ACCIDENTE'] = pd.to_datetime(Dfevalua['FECHA_ACCIDENTE'], format="%Y/%m/%d")

In [44]:
DfTrain['festivo'] = DfTrain['FECHA_ACCIDENTE'].apply(lambda x: 1 if x in df_festivos['Fecha'].unique() else 0)
DfTest['festivo'] = DfTest['FECHA_ACCIDENTE'].apply(lambda x: 1 if x in df_festivos['Fecha'].unique() else 0)
Dfevalua['festivo'] = Dfevalua['FECHA_ACCIDENTE'].apply(lambda x: 1 if x in df_festivos['Fecha'].unique() else 0)

In [45]:
DfTrain['Year'] = DfTrain['FECHA_ACCIDENTE'].dt.year
DfTrain['Month'] = DfTrain['FECHA_ACCIDENTE'].dt.month
DfTrain['DayMo'] = DfTrain['FECHA_ACCIDENTE'].dt.day
DfTrain['Dayw'] = DfTrain['FECHA_ACCIDENTE'].apply(lambda x: x.strftime('%A'))

In [46]:
DfTest['Year'] = DfTest['FECHA_ACCIDENTE'].dt.year
DfTest['Month'] = DfTest['FECHA_ACCIDENTE'].dt.month
DfTest['DayMo'] = DfTest['FECHA_ACCIDENTE'].dt.day
DfTest['Dayw'] = DfTest['FECHA_ACCIDENTE'].apply(lambda x: x.strftime('%A'))

In [47]:
Dfevalua['Year'] = Dfevalua['FECHA_ACCIDENTE'].dt.year
Dfevalua['Month'] = Dfevalua['FECHA_ACCIDENTE'].dt.month
Dfevalua['DayMo'] = Dfevalua['FECHA_ACCIDENTE'].dt.day
Dfevalua['Dayw'] = Dfevalua['FECHA_ACCIDENTE'].apply(lambda x: x.strftime('%A'))

In [48]:
DfTest.head()

  FECHA_ACCIDENTE  Total  festivo  Year  Month  DayMo       Dayw
0      2018-01-01      7        1  2018      1      1     Monday
1      2018-01-02     11        0  2018      1      2    Tuesday
2      2018-01-03      4        0  2018      1      3  Wednesday
3      2018-01-04     12        0  2018      1      4   Thursday
4      2018-01-05     11        0  2018      1      5     Friday

In [49]:
def quincena(f):
    z = []
    for i,j in zip(f['DayMo'],f['Dayw']):
        if (i in [15,30,31] and j in ['Monday','Tuesday', 'Thursday', 'Friday','Wednesday']):
            z.append(1)
        else:
            z.append(0)
    return z

In [50]:
DfTrain['Quincena'] = quincena(DfTrain)
DfTest['Quincena'] = quincena(DfTest)
Dfevalua['Quincena'] = quincena(Dfevalua)

In [51]:
variab = ['DayMo','Month','Year','festivo','Dayw','Total','Quincena']

In [52]:
DfTrain = DfTrain[variab]
DfTest = DfTest[variab]
Dfevalua = Dfevalua[variab]

In [53]:
Dfevalua.head()

   DayMo  Month  Year  festivo       Dayw  Total  Quincena
0      1      1  2020        1  Wednesday      8         0
1      2      1  2020        0   Thursday     14         0
2      3      1  2020        0     Friday     12         0
3      4      1  2020        0   Saturday      7         0
4      5      1  2020        0     Sunday      7         0

## One hot encoding y Modelo

In [54]:
DfTrain = pd.get_dummies(DfTrain)
DfTest = pd.get_dummies(DfTest)
Dfevalua = pd.get_dummies(Dfevalua)

In [55]:
num = list(DfTrain.columns.values)
num.remove('Total')

In [56]:
exp_reg101 = setup(data = DfTrain, target = 'Total',
                   numeric_features = num , normalize = True, session_id = 8301)

In [57]:
compare_models()

BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, alpha_init=None,
              compute_score=False, copy_X=True, fit_intercept=True,
              lambda_1=1e-06, lambda_2=1e-06, lambda_init=None, n_iter=300,
              normalize=False, tol=0.001, verbose=False)

In [58]:
rfj = create_model('rf')

In [59]:
tuned_rfj = tune_model(rfj)

In [60]:
tuned_rfj

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=6, max_features='log2', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.005,
                      min_impurity_split=None, min_samples_leaf=2,
                      min_samples_split=10, min_weight_fraction_leaf=0.0,
                      n_estimators=190, n_jobs=-1, oob_score=False,
                      random_state=8301, verbose=0, warm_start=False)

In [61]:
predict_model(tuned_rfj)

,DayMo,Month,Year,festivo,Quincena,Dayw_Friday,Dayw_Monday,Dayw_Saturday,Dayw_Sunday,Dayw_Thursday,Dayw_Tuesday,Dayw_Wednesday,Total,Label
0,-0.558240,0.297406,0.281662,-0.225051,-0.253849,-0.399935,-0.413042,-0.407447,-0.420453,2.388884,-0.405575,-0.392359,18.0,11.825092
1,1.732239,0.004596,-0.680953,-0.225051,3.939355,2.500407,-0.413042,-0.407447,-0.420453,-0.418606,-0.405575,-0.392359,7.0,10.305963
2,-0.901812,-0.873836,0.281662,-0.225051,-0.253849,2.500407,-0.413042,-0.407447,-0.420453,-0.418606,-0.405575,-0.392359,12.0,9.926635
3,1.045095,1.468649,-0.680953,4.443443,-0.253849,2.500407,-0.413042,-0.407447,-0.420453,-0.418606,-0.405575,-0.392359,3.0,8.594306
4,1.045095,-1.459458,-0.680953,-0.225051,-0.253849,-0.399935,-0.413042,-0.407447,-0.420453,-0.418606,-0.405575,2.548686,7.0,10.541789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,-0.672764,1.468649,1.244277,-0.225051,-0.253849,-0.399935,-0.413042,-0.407447,2.378385,-0.418606,-0.405575,-0.392359,5.0,7.448042
379,-0.787288,1.468649,-0.680953,-0.225051,-0.253849,-0.399935,-0.413042,-0.407447,-0.420453,-0.418606,-0.405575,2.548686,9.0,10.499437
380,-0.787288,1.175838,0.281662,-0.225051,-0.253849,-0.399935,-0.413042,-0.407447,-0.420453,-0.418606,-0.405575,2.548686,9.0,10.689385
381,-0.558240,-1.459458,1.244277,-0.225051,-0.253849,-0.399935,-0.413042,2.454307,-0.420453,-0.418606,-0.405575,-0.392359,9.0,8.736029
382,0.014380,0.883028,1.244277,4.443443,-0.253849,-0.399935,2.421062,-0.407447,-0.420453,-0.418606,-0.405575,-0.392359,6.0,8.526704

In [62]:
labeltr = DfTrain['Total']
labeltest = DfTest['Total']
DfTrain = DfTrain.drop('Total', axis = 1)
DfTest = DfTest.drop('Total', axis = 1)

In [63]:
forest = tuned_rfj.fit(DfTrain,labeltr)

## Rmse entrenamiento

In [64]:
ypredTrain = forest.predict(DfTrain)

In [65]:
(mse(ypredTrain,labeltr))**(1/2)

3.8117078678529572

## Rmse Test

In [66]:
ypredTest = forest.predict(DfTest)

In [67]:
(mse(ypredTest,labeltest))**(1/2)

4.119099809065017

## Rmse Evaluacin

In [68]:
labelevalua = Dfevalua['Total']

In [69]:
Dfevalua = Dfevalua.drop(['Total'], axis = 1)

In [70]:
yevalua = forest.predict(Dfevalua)

In [71]:
(mse(yevalua,labelevalua))**(1/2)

5.294891245143799

## Se guarda modelo

In [72]:
joblib.dump(forest, 'modelo_Caida_entrenado.pkl') # Se guarda el modelo.

['modelo_Caida_entrenado.pkl']