In [74]:
import pandas as pd
import numpy as np
from pycaret.regression import *
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error as mse
import joblib

In [75]:
DfTrain = pd.read_csv('Otro_train.csv', encoding = 'utf-8')
DfTest = pd.read_csv('Otro_test.csv', encoding = 'utf-8')
Dfevalua = pd.read_csv('Otro_evalua.csv', encoding = 'utf-8')

In [76]:
DfTest.head()

  FECHA_ACCIDENTE  Total
0      2018-01-01     11
1      2018-01-02     15
2      2018-01-03      7
3      2018-01-04     12
4      2018-01-05     21

In [77]:
df_festivos = pd.read_csv('festivosm.csv', encoding = 'utf-8', sep =';')

In [78]:
df_festivos['Fecha'] = pd.to_datetime(df_festivos['Fecha'], format="%m/%d/%Y")

In [79]:
DfTrain['FECHA_ACCIDENTE'] = pd.to_datetime(DfTrain['FECHA_ACCIDENTE'], format="%Y/%m/%d")
DfTest['FECHA_ACCIDENTE'] = pd.to_datetime(DfTest['FECHA_ACCIDENTE'], format="%Y/%m/%d")
Dfevalua['FECHA_ACCIDENTE'] = pd.to_datetime(Dfevalua['FECHA_ACCIDENTE'], format="%Y/%m/%d")

In [80]:
DfTrain['festivo'] = DfTrain['FECHA_ACCIDENTE'].apply(lambda x: 1 if x in df_festivos['Fecha'].unique() else 0)
DfTest['festivo'] = DfTest['FECHA_ACCIDENTE'].apply(lambda x: 1 if x in df_festivos['Fecha'].unique() else 0)
Dfevalua['festivo'] = Dfevalua['FECHA_ACCIDENTE'].apply(lambda x: 1 if x in df_festivos['Fecha'].unique() else 0)

In [81]:
DfTrain['Year'] = DfTrain['FECHA_ACCIDENTE'].dt.year
DfTrain['Month'] = DfTrain['FECHA_ACCIDENTE'].dt.month
DfTrain['DayMo'] = DfTrain['FECHA_ACCIDENTE'].dt.day
DfTrain['Dayw'] = DfTrain['FECHA_ACCIDENTE'].apply(lambda x: x.strftime('%A'))

In [82]:
DfTest['Year'] = DfTest['FECHA_ACCIDENTE'].dt.year
DfTest['Month'] = DfTest['FECHA_ACCIDENTE'].dt.month
DfTest['DayMo'] = DfTest['FECHA_ACCIDENTE'].dt.day
DfTest['Dayw'] = DfTest['FECHA_ACCIDENTE'].apply(lambda x: x.strftime('%A'))

In [83]:
Dfevalua['Year'] = Dfevalua['FECHA_ACCIDENTE'].dt.year
Dfevalua['Month'] = Dfevalua['FECHA_ACCIDENTE'].dt.month
Dfevalua['DayMo'] = Dfevalua['FECHA_ACCIDENTE'].dt.day
Dfevalua['Dayw'] = Dfevalua['FECHA_ACCIDENTE'].apply(lambda x: x.strftime('%A'))

In [84]:
DfTest.head()

  FECHA_ACCIDENTE  Total  festivo  Year  Month  DayMo       Dayw
0      2018-01-01     11        1  2018      1      1     Monday
1      2018-01-02     15        0  2018      1      2    Tuesday
2      2018-01-03      7        0  2018      1      3  Wednesday
3      2018-01-04     12        0  2018      1      4   Thursday
4      2018-01-05     21        0  2018      1      5     Friday

In [85]:
def quincena(f):
    z = []
    for i,j in zip(f['DayMo'],f['Dayw']):
        if (i in [15,30,31] and j in ['Monday','Tuesday', 'Thursday', 'Friday','Wednesday']):
            z.append(1)
        else:
            z.append(0)
    return z

In [86]:
DfTrain['Quincena'] = quincena(DfTrain)
DfTest['Quincena'] = quincena(DfTest)
Dfevalua['Quincena'] = quincena(Dfevalua)

In [87]:
variab = ['DayMo','Month','Year','festivo','Dayw','Total','Quincena']

In [88]:
DfTrain = DfTrain[variab]
DfTest = DfTest[variab]
Dfevalua = Dfevalua[variab]

In [89]:
Dfevalua.head()

   DayMo  Month  Year  festivo       Dayw  Total  Quincena
0      1      1  2020        1  Wednesday     13         0
1      2      1  2020        0   Thursday      8         0
2      3      1  2020        0     Friday      7         0
3      4      1  2020        0   Saturday     11         0
4      5      1  2020        0     Sunday      5         0

## One hot encoding y Modelo

In [90]:
DfTrain = pd.get_dummies(DfTrain)
DfTest = pd.get_dummies(DfTest)
Dfevalua = pd.get_dummies(Dfevalua)

In [91]:
num = list(DfTrain.columns.values)
num.remove('Total')

In [92]:
exp_reg101 = setup(data = DfTrain, target = 'Total',
                   numeric_features = num , normalize = True, session_id = 8301)

In [93]:
compare_models()

BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, alpha_init=None,
              compute_score=False, copy_X=True, fit_intercept=True,
              lambda_1=1e-06, lambda_2=1e-06, lambda_init=None, n_iter=300,
              normalize=False, tol=0.001, verbose=False)

In [94]:
rfj = create_model('rf')

In [95]:
tuned_rfj = tune_model(rfj)

In [96]:
tuned_rfj

RandomForestRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                      max_depth=6, max_features='log2', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0005,
                      min_impurity_split=None, min_samples_leaf=6,
                      min_samples_split=10, min_weight_fraction_leaf=0.0,
                      n_estimators=250, n_jobs=-1, oob_score=False,
                      random_state=8301, verbose=0, warm_start=False)

In [97]:
predict_model(tuned_rfj)

,DayMo,Month,Year,festivo,Quincena,Dayw_Friday,Dayw_Monday,Dayw_Saturday,Dayw_Sunday,Dayw_Thursday,Dayw_Tuesday,Dayw_Wednesday,Total,Label
0,0.943372,-1.166563,1.249634,-0.216549,-0.233044,2.538044,-0.407181,-0.42753,-0.433013,-0.395899,-0.395899,-0.403436,12.0,13.954689
1,1.633230,0.007560,-0.679360,-0.216549,4.291042,-0.394004,-0.407181,-0.42753,-0.433013,2.525899,-0.395899,-0.403436,16.0,14.136487
2,0.598443,-1.166563,1.249634,-0.216549,-0.233044,-0.394004,-0.407181,-0.42753,-0.433013,-0.395899,2.525899,-0.403436,12.0,13.809717
3,0.943372,1.475214,-0.679360,-0.216549,-0.233044,-0.394004,-0.407181,-0.42753,-0.433013,2.525899,-0.395899,-0.403436,15.0,13.099737
4,1.058348,-1.460093,-0.679360,-0.216549,-0.233044,-0.394004,-0.407181,-0.42753,-0.433013,-0.395899,-0.395899,2.478709,14.0,12.730514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,1.403277,-0.285971,0.285137,-0.216549,-0.233044,-0.394004,-0.407181,-0.42753,-0.433013,-0.395899,2.525899,-0.403436,13.0,13.814008
379,-0.896248,1.475214,-0.679360,4.617900,-0.233044,-0.394004,-0.407181,-0.42753,-0.433013,-0.395899,2.525899,-0.403436,7.0,11.395385
380,-1.011225,0.594621,0.285137,-0.216549,-0.233044,-0.394004,-0.407181,-0.42753,-0.433013,-0.395899,-0.395899,2.478709,17.0,14.094472
381,-0.666296,0.007560,1.249634,-0.216549,-0.233044,-0.394004,2.455910,-0.42753,-0.433013,-0.395899,-0.395899,-0.403436,18.0,13.808964
382,0.023562,0.888152,1.249634,4.617900,-0.233044,-0.394004,2.455910,-0.42753,-0.433013,-0.395899,-0.395899,-0.403436,11.0,11.978739

In [98]:
labeltr = DfTrain['Total']
labeltest = DfTest['Total']
DfTrain = DfTrain.drop('Total', axis = 1)
DfTest = DfTest.drop('Total', axis = 1)

In [99]:
forest = tuned_rfj.fit(DfTrain,labeltr)

## Rmse entrenamiento

In [100]:
ypredTrain = forest.predict(DfTrain)

In [101]:
(mse(ypredTrain,labeltr))**(1/2)

4.588636275916727

## Rmse Test

In [102]:
ypredTest = forest.predict(DfTest)

In [103]:
(mse(ypredTest,labeltest))**(1/2)

5.22517709815033

## Rmse Evaluacin

In [104]:
labelevalua = Dfevalua['Total']

In [105]:
Dfevalua = Dfevalua.drop(['Total'], axis = 1)

In [106]:
yevalua = forest.predict(Dfevalua)

In [107]:
(mse(yevalua,labelevalua))**(1/2)

6.7031670785443955

## Se guarda modelo

In [108]:
joblib.dump(forest, 'modelo_Otro_entrenado.pkl') # Se guarda el modelo.

['modelo_Otro_entrenado.pkl']